.divForm {
  align-items: center;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 5px black;
  display: flex;
  font-size: 15px;
  justify-content: space-around;
}

.divForm input , select {
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-top: 10px;
  width: 100px;
}


select {
  font-size: 12px;
}
